@import 'common.scss';

.container {
  display: flex;
  padding: 0.3em 0.5em;
  align-items: center;
  box-sizing: border-box;
  min-height: 32px;

  &:hover {
    .buttonRemove {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.containerDragOver {
  border-top: 2px solid var(--color-text-focus);
  padding-top: 10px;
}

.containerBlank {
  min-height: 32px;
}

.title {
  flex: 1;
}

.button {
  @extend .buttonBlank;

  width: 28px;
  height: 28px;
  padding: 4px;
  box-sizing: border-box;
  color: var(--color-text-secondary);
  cursor: pointer;
  transition: color var(--transition-time);

  &:hover {
    color: var(--color-text-focus);
  }
}

.buttonDrag {
  @extend .button;

  cursor: grab;
}

.buttonRemove {
  @extend .button;

  transition: opacity var(--transition-time), color var(--transition-time);

  @media (hover: hover) and (pointer: fine) {
    opacity: 0;
    pointer-events: none;
  }
}
