.button {
  background-color: var(--color-background-button-primary);
  color: var(--color-text-button-primary);
  text-decoration: none;
  border-radius: var(--border-radius-button);
  text-align: center;
  padding: 0.3em;
  font-weight: bold;
}
