:global {
  :root {
    --color-background-main: rgb(69, 69, 69);
    --color-text-main: rgb(228, 228, 228);
    --color-text-secondary: rgb(143, 143, 143);
    --color-text-focus: rgb(98, 221, 73);
    --color-background-marker: rgb(63, 63, 63);
    --color-background-marker-focus: rgb(98, 221, 73);

    --transition-time: 0.3s;
  }
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: var(--color-background-main);
  color: var(--color-text-main);
}
