:global {
  :root {
    --color-accent: #C3E452;
    --color-accent-revert: black;
    --color-secondary: #747474;

    --color-background-main: #383838;
    --color-text-main: #F6F6F6;
    --color-text-secondary: var(--color-secondary);
    --color-text-focus: var(--color-accent);

    --color-background-marker: var(--color-background-main);
    --color-text-marker: var(--color-text-main);
    --color-background-marker-focus: var(--color-accent);
    --color-text-marker-focus: var(--color-accent-revert);


    --color-background-button-primary: #C3E452;
    --color-text-button-primary: black;

    --transition-time: 0.3s;
    --border-radius-button: 5px;
  }
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: var(--color-background-main);
  color: var(--color-text-main);
}
