.map {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.marker {
  color: var(--color-background-marker);
  background: none;
  position: relative;
  transition: color var(--transition-time);
}

.markerHover {
  color: var(--color-background-marker-focus);
}

.markerLabel {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
